*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #264653;
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    font-family: 'Times New Roman', 'Georgia', serif;
    color: #055A05;
    display: flex;
    flex-direction: column;
}

.navBar {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

a {
    text-decoration: none;
}

ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    margin-top: 3rem;
}

.hero img {
    width: 840px;
    height: auto;
    /* position: absolute; */
}

.hero h1 {
    /* position: relative; */
}