:root {
    --primary-color: darkblue;
    --heading: white;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--heading);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}
aside {
width: 250px;
height: auto;
margin: 8px;
border: 1px solid black;
padding: 8px;
background-color: black;
color: var(--heading);
text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 16px;
    border-top: 1.5px solid black;
    text-align: center;
}