*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
    --primary-color: darkblue;
    --heading: white;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--heading);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

main img {
    float: right;
}
aside {
    width: 250px;
    height: auto;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    right: 50px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 16px;
    border-top: 1.5px solid black;
    text-align: center;
}

/* Class Selectors */

.box{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid black;
    background-color: black;
    color: var(--heading);
}

a {
    text-decoration: none;
}