body {
    display: flex;   
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    background-color: rgb(70, 67, 67);
    color: white;
    font-size: 30px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main img {
    width: 300px;
    height: auto;
    box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.3);
    margin: 10px;
}

.up, 
.down {
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: lightgrey;
    margin: 10px 0;
}

h2 {
    padding: 0 0 10px 20px;
    border-bottom: 1px black solid;
    margin-bottom: 0;
}

footer {
    display: flex;
    justify-content: center;
    color: white;
    background-color: rgb(70, 67, 67);
    font: 20px;
}

section p{
    margin: 15px;
}